/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  display: inline;
  padding: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

input[type="text"] {
  padding: 5px;
}

button {
  padding: 5px 10px;
}

.background-image {
  background-image: url('travel.jpg'); /* Add your image */
  background-size: cover;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-links a, nav a {
  margin: 0 5px;
  color: black;
  text-decoration: none;
}

.social-links a:hover {
  text-decoration: underline;
}
nav a {
  margin: 0 5px;
  color: #fff;
  text-decoration: none;
}
